@model PhotoStudioDiploma.Models.GrantedFoldersToClientViewModel

<h4>The folder '@Model.FolderName' granted from photographer '@Model.OwnerPhotographer' is empty.</h4>

@Html.ActionLink("Go back to granted folders", "GrantedFoldersToMe", "Account")
