
@{
    ViewBag.Title = "ConfirmEmailRequest";
}

<h3 class="text-info text-center">A confirmation email has been sent.</h3>
<h4 class="text-info">Please confirm your email to use full functionality of Photo Studio.</h4>

