
@{
    ViewBag.Title = "EmailConfirmationNeeded";
}

<h2 class="text-danger">Email confirmation is needed to access this functionality.</h2>
<h4 class="text-danger">Please check your email box or we can @Html.ActionLink("resend", "ResendEmailConfirmation", "Account", null, null) email to you.</h4>

